.container{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    /* flex-direction: column; */
    /* flex-wrap: wrap;
    flex-wrap: nowrap; */
}
.container > .item{
    background-color: bisque;
    width: 30%;
    height: 30px;
    border: solid 1px;
}

.main{
    display: flex;
    width: 500;
}
.main div:nth-of-type(1){
    flex-grow: 2; /* reparte espacio disponible para crecer */
}
.main div:nth-of-type(2){
    flex-grow: 5;
}
.main div:nth-of-type(3){
    flex-grow: 2;
}
.main div:nth-of-type(4){
    flex-grow: 2;
}


