*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
body {
    background-color: #FFFBF7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: #46484c;
    text-align: center;  
}
p {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
label{
    font-weight:600;
}
button {
    color: #fff;
    background-color: #025157;
   
}
li{
    display: inline;
}
.header{
    margin: 20px 20px 10px 20px;
    line-height: 45px;
    font-size: 0;
}
.header img{
    vertical-align: middle;
}
.header >*{ /* Todos los hijos de la clase header */
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}
.logo{
    width: 15%;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    
}
.navbar li{
    margin-left: 25px;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
}
.actions >*{
    margin-left: 10px ;
    color:#67b54b;
}

.actions button{
    background-color: #67b54b;
    color:#fff ;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}
.container{
    margin-top: 100px;
}
.section-1{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    
}
.publish {
    margin-left: 20px ;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  
.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
  
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    margin:15px 0;
}
  
.publish > .form form {
    display: flex;
    height: 55px;
}

.form  input{
    border: 1px solid #b6b6bb;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    border-radius: 8px 0 0 8px;
}
.form button{
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
    border-radius: 0 8px 8px 0;
}
  
.publish  .form   {
    color: #8b8b8bcc;
    margin-top: 15px;
    font-size: 1rem;
    margin:15px 0;
}

.contentVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.contentVideo img{
    width: 120px;
    margin-top: 10px;
}

.fixed-header{
    position: fixed;
    background-color: #FFFBF7;
    top: 0;
    left: 0;
    right: 0;
}
.section-2{
    background-color: #a1d683;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
    
}
.overview{
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    padding-right: 100px;
}
.overview h2{
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
.overview p{
    color:#343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.overview button{
    font-size: 14;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left:0;
}

.overview img{
    width: 500px;
}
.card{
    background-color: white;
    max-width: 350px;
    border-radius: 10px;
}
.card img{
    max-width: 350px;
}
.card-media img{
    border-radius: 10px 10px 0 0;
}
.card-body{
     padding: 50px 25px;
}
.card-body h4{
    color:#025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}
.card-body h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.result{
    display: flex;
    align-items: center;
    color: #828282;
}
.result img{
    width: 26px;
    margin-right: 20px;
}
.card-footer{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

}
.card-footer button{
    display: block;
    margin-left: 0%;
    border-radius: 5px;
    font-weight: 600;
    padding: 12px 20px;
    font-size: 19px;
    
}
.cards{
    display: flex;
    flex-direction: column;

}
.carruselicons{
    margin: 10px auto;
}
.cards li{
    box-sizing: content-box;
    flex: 0 1;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    margin-left: 3px;
    color:#025157;

}
.features{
    padding: 5% 10%;
    background-color: #025157;
    display: grid;
    /* grid-template-columns: 100px 300px; */
    /* grid-template-columns: repeat(2, 300px); */
    /* grid-template-columns: 500px 1fr; */
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 330px); */
    grid-template: repeat(2,350px) / repeat(2,1fr); /* fila / columna */
    grid-template-areas: none;
}
.featured-art{
    background-color: white;
    margin: 0 15px 30px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;  
    overflow-x: hidden;
    overflow-y: hidden;
}
.featured-content{
    padding: 30px 20px 40px 40px;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
}
.featured-content > *{
    margin-bottom: 1rem;
}
.featured-content img{
    width: 50px;
}
.featured-content h3{
    font-size: 24px;
    color:#343434;
    font-weight: 400;
}
.featured-content p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.featured-content a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.featured-img{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}
.featured-img figure{
    height: 100%;
}
.featured-img img{
    height: 100%;
    margin-top: 0;
}

 