

body {
    background-image: url('https://cdn.hipwallpaper.com/i/82/96/8aPcBW.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

h2 {
    color: #b7b8bb;
    
}

p {
    color: #8b8b8bcc;
    font-size: 20px;
}
label{
    font-weight:600;
}
button {
    color: #fff;
    background-color: #025157;
    width: 120px;
    height: 30px;
}